<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger</title>
    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- Bootstrap Minimized jQuery ***DO NOT USE, Doesn't use $ --}}
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> --}}
    {{!-- Full Google jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!-- Bootstrap JS --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{!-- Personal CSS --}}
    {{!-- <link rel="stylesheet" href="../../public/assets/css/style.css"> --}}

</head>

<body>
    {{{ body }}}
</body>
<script>
    //Form Logic
    $(function() {
        //Submission Button
        $(".order-form").on("submit", function(event) {
            event.preventDefault();
            //Put info in variable to push
            var newBurger = {
            burger_name: $("#newburger")
                .val()
                .trim(),
            devoured: 0
            };
        //bring in ajax to post to db
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        //reload whole page
        }).then(function() {
            console.log("Added new burger");
            location.reload();
        });
        });
        //Devour Button
        $(".devourburger").on("click", function(event) {
            event.preventDefault();
            //"Devour Function" linked to id of burger
            var id = $(this).data("id");
            //changed to "true"
            var devouredState = {
            devoured: 1
            };
            //call ajax for put (edit)
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: devouredState
            }).then(function() {
                console.log("Burger devoured");
            location.reload();
            });
        });

    //$(".trashburger").on("click", function(event) {
      //  event.preventDefault();

        //var id = $(this).data("id");

        // Send the DELETE request.
        //$.ajax({
        //type: "DELETE",
        //url: "/api/burgers/" + id
        //}).then(location.reload());
    //});
    });
</script>
</html>